.wrapper{
  height: 20em;
}

  .bike-guy{
    // background-image:url("../img/bike_guy_edit.jpg");
    // width: 1000px;
    // height: 376px;
    // border: 2px solid black;
  }

.brand{
  height: 6em;
  padding: 0 10px 0 10px;
}

   h1{
    font-size: 3.75em;
  }

  .th{
    width: 80%;
    margin: 20px;
  }

.slider{
  margin-top: 10em;
}


.footer a {
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  text-align: center;
}
